### Exercises
This notebook is intended to test your Python knowledge so far. It contains a mix of operations and functions that you have encountered before, and some new ones. 

These exercises are designed to be challenging, so don't worry if you find them difficult. If you get stuck, you can always refer to the search strategies you've learned in the course to help you find the information you need. 

We will work with a dataset containing information about the income of countries over a span of 28 years. The dataset is stored in a excel file named `income_by_country.xlsx`. The excercises below guide you through the process of loading and analyzing this dataset.

### Loading and inspecting the data
Let's start with loading the dataset into a DataFrame, and inspecting it to understand its structure. Follow the steps specified below.

In [48]:
### Import the pandas library

In [ ]:
### Load the dataset into a DataFrame

In [ ]:
### Display the first 5 rows of the DataFrame 
# Does it look like the data is in the correct format? 
# If not, make sure you use the correct separator

In [ ]:
### Use the info() method to get a summary of the data

In [57]:
df = pd.read_excel('income_by_country.xlsx')

In [59]:
df.head(10)

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,0.466,0.44,0.431,0.376,0.328,0.381,0.366,0.354,0.343,...,0.409,0.426,0.421,0.435,0.438,0.436,0.435,0.434,0.434,0.432
1,Albania,0.572,0.521,0.506,0.526,0.541,0.563,0.578,0.561,0.576,...,0.686,0.693,0.699,0.7,0.705,0.707,0.711,0.717,0.721,0.727
2,Algeria,0.695,0.687,0.687,0.683,0.677,0.678,0.681,0.681,0.688,...,0.731,0.735,0.734,0.734,0.735,0.737,0.739,0.745,0.743,0.743
3,Andorra,0.936,0.934,0.929,0.923,0.922,0.923,0.929,0.942,0.947,...,0.924,0.916,0.91,0.91,0.914,0.92,0.924,0.928,0.931,0.935
4,Angola,0.562,0.576,0.431,0.428,0.388,0.506,0.505,0.53,0.527,...,0.615,0.614,0.613,0.622,0.626,0.63,0.629,0.62,0.617,0.607
5,Antigua and Barbuda,0.764,0.771,0.771,0.778,0.785,0.774,0.782,0.788,0.792,...,0.812,0.801,0.795,0.797,0.795,0.799,0.802,0.807,0.81,0.816
6,Argentina,0.709,0.722,0.733,0.744,0.75,0.744,0.75,0.76,0.763,...,0.774,0.787,0.795,0.792,0.794,0.789,0.792,0.787,0.788,0.781
7,Armenia,0.541,0.529,0.423,0.427,0.452,0.465,0.48,0.492,0.499,...,0.638,0.643,0.647,0.658,0.665,0.668,0.671,0.668,0.681,0.684
8,Australia,0.849,0.847,0.847,0.852,0.856,0.859,0.863,0.867,0.873,...,0.905,0.905,0.906,0.911,0.913,0.915,0.917,0.918,0.919,0.92
9,Austria,0.869,0.872,0.873,0.873,0.876,0.879,0.883,0.885,0.89,...,0.915,0.918,0.922,0.921,0.921,0.92,0.919,0.922,0.924,0.927

###

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 31 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  208 non-null    object
 1   1990     203 non-null    object
 2   1991     202 non-null    float64
 3   1992     203 non-null    float64
 4   1993     202 non-null    float64
 5   1994     202 non-null    float64
 6   1995     203 non-null    float64
 7   1996     202 non-null    float64
 8   1997     203 non-null    float64
 9   1998     203 non-null    float64
 10  1999     203 non-null    float64
 11  2000     205 non-null    float64
 12  2001     204 non-null    float64
 13  2002     205 non-null    float64
 14  2003     204 non-null    float64
 15  2004     205 non-null    float64
 16  2005     204 non-null    float64
 17  2006     205 non-null    float64
 18  2007     204 non-null    float64
 19  2008     206 non-null    float64
 20  2009     206 non-null    float64
 21  2010     206 non-null    float64
 22  2011     206 non-null    float64
 23  2012     205 non-null    float64
 24  2013     206 non-null    float64
 25  2014     205 non-null    float64
 26  2015     206 non-null    float64
 27  2016     205 non-null    float64
 28  2017     205 non-null    float64
 29  2018     205 non-null    float64
 30  Info     13 non-null     object
dtypes: float64(28), object(3)
memory usage: 50.5+ KB

In [29]:
# Print the country with the highest income in 2018
print(df[df[2018] == df[2018].max()])

TypeError: '>=' not supported between instances of 'int' and 'str'